<%= form_for @project do |p| %>
  <div class="contentmargin">
    <%= p.label :Name %><br />
    <%= p.text_field :name %>
  </div>
  <div class="contentmargin">
    <%= p.label :Description %><br />
    <%= p.text_area :description %>
  </div>
  <div class="contentmargin">
    <%= p.submit "Create Project" %>
  </div>
<% end %>