<!DOCTYPE html>
<html>
<body>
	<div id = "header">
		<img  id = "logo" src = "<%= asset_path( 'logo.png' ) %>" />
		<h1 id = "title">Chinese Chocolate Software Company</h1>
	</div>
	<nav id = "menubar">
			<ul>
				<li><a href = "#">Home </a></li>
				<li><a href = "">Gallery </a></li>
				<li><a href = "">Location </a></li>
				<li><a href = "">About Us </a></li>
				<li><a href = "">Contact Us </a></li>
			</ul>
				
		</nav>
	<div id = "maincontent">
		<h2> Our Recent Projects: </h2>
	<p> <h2 id = "createlink"> <%= link_to("Create New Project",new_project_path) %> </h2> </p>
	<ul>
	
	<% @projects.each do |p| %>
	<li >
		
			<h2> <span>Project Name:</span> <%= p.name%></h2>
		
	<p>
		<%= link_to("View Details", project_path(p.id))%> | <%= link_to("Delete",project_path(p.id),:method =>:delete, :confirm => "This project will be deleted, are you really sure?")%> 
	</p>
</li>	
<% end %>

</ul>
</div>
</body>
</html>
